body {
    background-color: rgba(255,0,0,1.0);
}


h1, h2, h3 {
    font-family:'Times New Roman', Times, serif;
}

/* Zevensuy recommends not using the presets that are given and to instead try to use the general ones

- you can make groups for things as well 

- There's a difference between Font Family (ex: Arial, Times New Roman, etc) and Fonts (Times New Roman italic, bold, etc. different weights on it) */

h1 {
    background-color: #ffffff;
    text-align : center;  
}
/* this centers it on the heading versus without it, 
    it the color would span across the whole browser width */

h2 {
    text-decoration: underline;
    font-size: 20px;
}    

h3{
    color: plum;
}

/* For importing font families, you want to import at the top of the document, to make sure it "downloads" or imports the fonts first.
You cannot have HTML in a CSS file as that will "break" the CSS file.
Using a font family that has a lot of fonts is useful because you can change a lot within it. */