body {
    background-color: rgba(255,0,0,1.0);
}


h1, h2, h3 {
    font-family:'Times New Roman', Times, serif;
}

/* Zevensuy recommends not using the presets that are given and to instead try to use the general ones

- you can make groups for things as well 

- There's a difference between Font Family (ex: Arial, Times New Roman, etc) and Fonts (Times New Roman italic, bold, etc. different weights on it) */

h1 {
    background-color: #ffffff;
    text-align : center;  
}
/* this centers it on the heading versus without it, 
    it the color would span across the whole browser width */

h2 {
    text-decoration: underline;
    font-size: 20px;
}    

h3{
    color: plum;
}

img {
    width: 200px;
    /* when you adjust the width or the height, it'll automatically do the other part for u -- there is no need to do both */
    padding: 20px;
/*the padding helps put space between the items */
    border-width: 10px;
    border-color: white;
    border-style: solid;
}

header{
    width: 960px;
    border: 1px white solid;
    padding: 10px;
    margin-top: -7px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    /* what auto does is that it automatically adjusts the container for the browser window, it helps center the content */
}

main{
    width: 960px;
    border: 1px white solid;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin: 0 auto; /* top and bottom 0, left and right are auto */
}

footer {
    width: 960px;
    height: 10px;
    border: 1px white solid;
    padding: 10px;
    margin: 0 auto;
}

nav{

}

nav ul {
    display:grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: auto;
    gap: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{

}

nav ul li a:hover{

}
/* For importing font families, you want to import at the top of the document, to make sure it "downloads" or imports the fonts first.
You cannot have HTML in a CSS file as that will "break" the CSS file.
Using a font family that has a lot of fonts is useful because you can change a lot within it. */